figure {
  margin: 0;
}

.cardHover {
  background-color: $secondary;
}

.first {
  background-color: $card-first;
  color: $secondary;
}

.second {
  background-color: $card-second;
  color: $secondary;
}

.third {
  background-color: $card-third;
  color: $secondary;
}

.fourth {
  background-color: $card-fourth;
  color: $secondary;
}

// banner effect (A try)!

#values,
#news {
  background-color: $card-back;
}

#values {
  position: relative;
  bottom: -30px;
}

#values {
  border-bottom-left-radius: 20% 5%;
  border-bottom-right-radius: 20% 5%;
}

#news {
  border-top-left-radius: 20% 5%;
  border-top-right-radius: 20% 5%;
  position: relative;
  top: -38px;
}

#specialist {
  border-bottom-left-radius: 20% 5%;
  border-bottom-right-radius: 20% 5%;
  background-color: #fff;
  position: relative;
  bottom: -25px;
}

#projects {
  border-top-left-radius: 20% 5%;
  border-top-right-radius: 20% 5%;
  background-color: #fff;
  position: relative;
  top: -20px;
}
