figure {
  margin: 0;
}

.cardHover {
  background-color: $secondary;
}

.first {
  background-color: $card-first;
  color: #fff;
}

.second {
  background-color: $card-second;
  color: #fff;
}

.third {
  background-color: $card-third;
  color: #fff;
}

.fourth {
  background-color: $card-fourth;
  color: #fff;
}
