$primary-text: #1e1e1e;
// modifica colore richiesta da Luigi
$secondary: #eeeeee;
$explore-btn: #6b6868;
$card-back: #f0ede6;
$card-first: cadetblue;
$card-second: #6586b1;
$card-third: #fe6f1d;
$card-fourth: #7d7903;
